/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

section {
    margin: 20px auto;
    padding: 20px;
}

section:nth-child(1) {
    background-color: #d7d715;
}

section:nth-child(2) {
    background-color: #1770d6;
}

section:nth-child(3) {
    background-color: #28da18;
}

/* Estilos de .caja */
.caja {
    box-sizing: border-box;
    height: 130px;
    padding: 20px;
}

/* Estilos de .caja-blanca */
.caja-blanca {
    border: 1px solid brown;
    background-color: white;
    color: brown;
}

/* Estilos de .caja-roja */
.caja-roja {
    border: 1px solid white;
    background-color: brown;
    color: white;
}

/* CASO 1. */
.caja-1 {
}

/* CASO 2. */
.caja-2 {
}

/* CASO 3. */
.caja-3 {
}

/* CASO 4. */
.caja-4 {
}

/* CASO 5. */
.caja-5 {
}

/* CASO 6. */
.caja-6 {
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
