/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

p {
    padding: 20px;
}

.verde {
    background-color: yellowgreen;
    color: black;
}

.azul {
    background-color: aqua;
    color: black;
}

/* CASO 1 */
.caso-1 {
}

/* CASO 2 */
.caso-2 {
}

/* CASO 3 */
.caso-3 {
}

footer {
    width: 100%;
    height: 100px;
    background-color: darkslategrey;
}
