/* Estilos para el body */
body {
    margin: 0;
    background-color: dimgray;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
}

section.caso-1,
section.caso-3 {
    background-color: #1c6514;
}

section.caso-2 {
    background-color: #1770d6;
}

/* Estilos .caja */
.caja-roja {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 230px;
    padding: 40px;
    border: 5px solid white;
    background-color: brown;
    color: white;
}

.caja-blanca {
    box-sizing: border-box;
    width: 600px;
    height: 250px;
    padding: 40px;
    border: 10px solid black;
    background-color: white;
    color: black;
}

/* CASO 1 */
.caso-1 .caja-blanca {
}

/* CASO 2 */
.caso-2 .caja-blanca {
}

/* CASO 3 */
.caso-3 .caja-blanca {
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
