/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

.contenedor {
    position: static;
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: black;
}

.span-1,
.span-2 {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* CASO 1. Estilos .span-1 AZUL */
.span-1 {
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: #2286d2;
    color: black;
    margin: 20px;
}

/* CASO 2. Estilos .span-2 VERDE */
.span-2 {
    background-color: darkgreen;
    position: absolute;
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
