* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding-top: 100px;
    line-height: 1.6; /* + [4] */
}

header {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed; /* + [1] */
    opacity: 0.8; /* + [2] */
    /* + [4] */
    /* + [5] */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
}
