/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

/* estilo de .caja */
.caja {
    box-sizing: border-box;
    width: 700px;
    height: 130px;
    padding: 20px;
}

/* estilo de .caja-blanca */
.caja-blanca {
    border: 1px solid brown;
    background-color: white;
    color: brown;
}

/* estilo de .caja-roja */
.caja-roja {
    border: 1px solid white;
    background-color: brown;
    color: white;
}

/* CASO 1. CAJA 1 */
.caja-1 {
    position: relative;
}

/* CASO 2. CAJA 2 */
.caja-2 {
    position: relative;
    top: -20px;
    left: 20px;
}

/* CASO 3. CAJA 3 */
.caja-3 {
    position: relative;
    top: -40px;
    left: 40px;
}

/* CAJA 4 */
.caja-4 {
    position: relative;
    top: -60px;
    left: 60px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
