* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
}

/* CASO 1 */
nav {
    position: sticky;
    top: 0;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #444;
    background-color: #222;
}

nav ul {
    text-align: center;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 1rem;
}

nav a {
    display: inline-block;
    padding: 0.5rem;
    color: #fff;
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    border-radius: 4px;
    background-color: #444;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
}

footer {
    padding: 1rem;
    border-top: 2px solid #444;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}
