/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

.contenedor-negro,
.contenedor-blanco {
    position: relative;
    margin: 10px;
    padding: 20px;
}

.contenedor-negro {
    position: relative;
    background-color: black;
    color: white;
}

.contenedor-blanco {
    position: static;
    background-color: white;
    color: black;
}

/* CAJA */
.caja {
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CAJA GRIS */
.caja-gris {
    position: static;
    background-color: #3e3e3e;
    color: white;
}

/* CASO 1. CAJA ROJA */
.caja-roja {
    width: 400px;
    background-color: #eb6969;
}

/* CAJA VERDE */
.caja-verde {
    background-color: #84d151;
}

/* CAJA AMARILLA */
.caja-amarilla {
    background-color: #f6ff00;
    color: black;
}

/* CASO 2. CAJA VERDE y AMARILLA */
.caja-verde,
.caja-amarilla {
    width: 400px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
