/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

/* Estilo general del formulario */
.caja {
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CASO 1. CAJA AZUL */
.caja-azul {
    background-color: #64abf3;
}

/* CASO 2. CAJA ROJA */
.caja-roja {
    background-color: #eb6969;
}

/* CASO 3. CAJA VERDE */
.caja-verde {
    background-color: #6de073;
}

/* CASO 4.  CAJA AMARILLA */
.caja-amarilla {
    background-color: #cfd363;
}
footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
