/* :root es el selector que apunta a <html> */
:root {
    /* VARIABLES CSS (Custom Properties):
       Permiten centralizar valores. Si cambias el color primario aquí, 
       se actualizará en todo el documento. Facilita el mantenimiento y el "Theming".
    */
    --color-fondo: #fdfcfb;
    --color-texto: #1b1c1e;
    --color-primario: #376df5;
    --color-secundario: #94b1fc;
    --color-resaltado: #94b1fc;
    --color-footer: #2b2b2b;
    --color-footer-texto: #e0e0e0;
    --color-linea: #333;

    --fuente-base: "Segoe UI", Roboto, sans-serif;
    --radio: 0.75rem;
    --sombra: 0 10px 25px rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* Evita que bordes y paddings modifiquen el tamaño de un elemento */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-base);
    line-height: 1.5;
}

header {
    padding: 2rem 1rem;
    border-bottom: 5px solid var(--color-resaltado);
    background: linear-gradient(90deg, var(--color-primario), var(--color-secundario));
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

main {
    max-width: 960px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: var(--radio);
    background-color: white;
    box-shadow: var(--sombra);
}

h2 {
    margin-bottom: 2rem;
    color: var(--color-primario);
    font-size: 2rem;
}

section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-left: 5px solid var(--color-secundario);
    border-radius: var(--radio);
    background-color: var(--color-fondo);
}

h3 {
    color: var(--color-secundario);
    font-size: 1.2rem;
}

h3,
h3 + p {
    /* Forzamos que el título y el párrafo hermano estén alineados. */
    display: inline;
}

.contenedor-caso-1,
.contenedor-caso-2 {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
}

/* + CSS BEM del ejercicio 1

/* *Bloque Principal */
.card {
    max-width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid var(--color-linea);
    border-radius: 0.5rem;
    background-color: white;
}

.card__image {
    width: 100%;
}

.card__title {
    margin-bottom: 0.5rem;
    color: var(--color-primario);
    font-size: 2rem;
}

.card__description {
    color: var(--color-texto);
}

.card__button {
    display: inline-block;
    margin-top: 1rem;
    /* + Valor de padding para los botones */
    padding: 0.5rem 1rem;
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    transition: background 0.3s ease;
    border-raius: 0.25rem;
}

.card__button--secundary {
    background-color: var(--color-secundario);
}
/* Elementos del bloque */

.card__button:hover {
    background-color: #092969;
}

/* + Fin del ejercicio 1 */

/* + CSS BEM del ejercicio 2 avanzado con flexbox */

/* *Bloque Principal */
.card-profile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: var(--sombra);
}

/* + Elementos Principales */
.card-profile__header {
    background: none; /* ! Temporal */
    background-color: red; /* !  Temporal */

    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.card-profile__avatar {
    width: 80px;
    height:80px;
    border-radius: 50%;
    border: 1px solid var(--color-linea);
}


.card-profile__body {
    background: none; /* ! Temporal */
    background-color: green; /* !  Temporal */
}

.card-profile__footer {
    background: none; /* ! Temporal */
    background-color: blue; /* !  Temporal */
}
