.rojo {
    color: brown;
}
.selectorColor {
    margin: 1rem;
    padding: 0.5rem 1.02rem;
    background: rgb(25, 0, 166);
    border-radius: 0.25rem;
}
.azul {
    background-color: blue;
    color: azure;
}
.amarillo {
    background-color: yellow;
    color: black;
}
.selectorColor {
    margin: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 0.25rem;
    background-color: antiquewhite;
}

.cajaredonda {
    width: 100px;
    height: 100px;
    border-radius: 50;
    background-color: blue;
}
