/* Estilos para el body */
body {
    margin: 0;
    background-color: dimgray;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos .caja */
.caja {
    box-sizing: border-box;
    width: 400px;
    padding: 45px;
    border: solid 1px white;
    border-radius: 40px;
}

/* CASO 1: CAJA VERDE */
.caja-verde {
    position: relative;
    top: 65px;
    right: 10px;
    background-color: rgb(44, 191, 49);
    color: black;
}

/* CASO 2: CAJA NARANJA */
.caja-naranja {
    position: relative;
    top: 20px;
    left: 40px;
    background-color: tomato;
}

/* CASO 3: CAJA AZUL */
.caja-azul {
    background-color: rgb(42, 73, 215);
}

/* CASO 4: CAJA ROJA */
.caja-roja {
    position: relative;
    bottom: 181px;
    left: 380px;
    background-color: brown;
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
