/* Estilos para el body */
body {
    margin: 0;
    background-color: dimgray;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 20px auto;
    padding: 20px;
}

section.caso-1 {
    background-color: #259219;
}

section.caso-2 {
    background-color: #1770d6;
}

/* Estilos .contenedor */
.elemento {
    box-sizing: border-box;
    width: 600px;
    min-height: 75px;
    margin: 20px;
    padding: 40px;
    border: 10px solid brown;
    background-color: white;
    color: black;
}

/* Estilos .caja */
.hermano {
    box-sizing: border-box;
    width: 400px;
    min-height: 75px;
    margin: 20px;
    padding: 40px;
    border: 5px solid white;
    background-color: brown;
    color: white;
}

/* CASO 1 */
section.caso-1 .hermano-adyacente {
}

/* CASO 2 */
section.caso-2 .hermano-adyacente {
}

footer {
    width: 100%;
    height: 100px;
    background-color: brown;
}
