/* Estilos para el body */
body {
    margin: 0;
    color: white;
}

/* Estilos header */
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}

/* Estilos h1 */
h1 {
    margin-top: 0;
    text-align: center;
}

/* Estilos de main */
main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: dimgray;
}

p {
    padding: 20px;
}

.verde {
    background-color: yellowgreen;
    color: black;
}

.azul {
    background-color: aqua;
    color: black;
}

/* CASO 1 */
.caso-1 {
    line-height: 24px;
}

/* CASO 2 */
.caso-2 {
    line-height: 48px;
}

/* CASO 3 */
.caso-3 {
    line-height:
        <!doctype html> <html lang= "es" > <head> <meta charset= "UTF-8" / > <meta name= "viewport" content= "width=device-width, initial-scale=1.0" / > <title>Propiedades de texto | interlineado</title> </head> <body> <header> <h1>Propiedades de texto</h1> </header> <main> <h2>Propiedad <code>line-height</code></h2> <p class= "caso-1 verde" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sunt explicabo nam debitis suscipit quibusdam dolore perferendis,
        culpa quidem. Dolorum vitae est,
        autem deleniti ad cumque beatae officia saepe at!</p> <p class= "caso-2 azul" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quaerat fuga obcaecati beatae temporibus ea sapiente tempora non illo,
        iusto,
        laborum accusamus consectetur iste nemo esse dolore. Hic,
        esse cum?</p> <p class= "caso-3 verde" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptatum eaque,
        officiis saepe tenetur sapiente numquam ut reprehenderit,
        possimus minima reiciendis non quos fugit,
        perspiciatis autem at earum cupiditate similique?</p> </main> <footer>Curso CSS</footer> </body> </html>;
}

footer {
    width: 100%;
    height: 100px;
    background-color: darkslategrey;
}
